// Grid system

@media (min-width: $screen-sm) {

  .sidebar-primary{ //page has sidebar
    .main{
      padding:0 24px;
      float: left;
      margin: 0 -284px 0 0;
      width: 100%;
      .content{
        margin: 0 284px 0 0;
      }
    }
    .sidebar{
      float: right;
      overflow: hidden;
      width: 284px;
    }

  }

}
