.solutions{

  .grid-item {
    margin-bottom: 4px;
  }

  .grid-item-title{
    height: 36px;
    a{
      color: #fff;
      text-decoration: none;
    }
    background-color:#f0a122;
    padding-left:10px;
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
  }
  .overlay {
    width: 100%;
    height: calc(100% - 35px);
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }
  .overlay .overlay-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    padding: 0 19px;
    color: #fff;
    &, p{
      font-size: 16px;
      font-weight: 400;
      line-height: 22.72px;
      margin: 0;
    }

  }

  .overlay .overlay-title {
    border-top: 1px solid #fff;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    padding-top:10px;
    margin-top: 5px;
    span{
      padding: 7px;
      margin-left: 5px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center 43%;
      background-image: url('../images/slider_right.png');

    }
    &:hover span{
      background-image: url('../images/slider_right_hover.png');
    }
  }

  @media (max-width: $screen-sm-max) {
    article{
      width: 100% !important;
    }
    .grid-item-title:hover{
      background-color:#000 !important;
      &:after{
        content: '»';
        color: #fff;
        position: absolute;
        right: 4%;
        font-size: 40px;
        top: 0;
        line-height: 38px;
        font-weight: 300;
      }
    }
  }
  @media (min-width: $screen-md) {
    .grid-item:hover .overlay {
      visibility: visible;
      opacity: 1;
    }
  }
}

.featured-project{
  font-size: 16px;
  margin-bottom: 10px;
  img{
    margin-bottom: 17px;
  }
  h3{
    color: #00468c;
  }

  h5{
    color: #1f1f1f;
    margin:5px 0;
  }
  a.btn{
    font-size: 13px;
    margin:5px 0;
  }
  @media (max-width: $screen-sm-max) {
    font-size: 15px;
    line-height: 1.4em;
    .col-sm-7{
      padding-left: 0;
    }
  }
}

.related-products-container{
  strong{
    color: #1f1f1f;
  }
  ul{
    list-style: none;
    line-height: 2em;
    @media (min-width: $screen-md) {
      font-size: 17px;
    }
    li{
      padding-left: 5px;
    }
  }
  .related_product_categories{
    list-style-image: url('../images/related_category.png');
  }
  .related_products{
    list-style-image: url('../images/related_product.png');
  }
}
.page .main .related-questions{
  border:1px solid #999;
  padding: 11px 16px 16px;
  h2{
    font-weight: 600;
    color: #1f1f1f;
    margin-bottom: 5px;
  }
  p{
    font-size: 18px;
    line-height: 1em;
    margin-bottom: 0.5em;
    @media (min-width: $screen-md) {
      font-size: 22px;
    }
  }
  a.btn{
    font-size: 16px;
    @media (min-width: $screen-md) {
      font-size: 20px;
    }
  }
}
