body{
  overflow-y: scroll; // TODO: remove after content is added
  font-weight: 300;
  .breadcrumbs_and_search{
    border-bottom: 1px solid #ccc;
  }
  .breadcrumbs{
    font-size: 15px;
    line-height: 2.3em;
    span.breadcrumbs-arrows{
      color: $brand-primary;
      font-size: 20px;
    }
  }

  h1, h2, h3, h4{
    margin-top:0;
    font-weight: 300;
  }
  p,ul{
    margin-bottom: 1.3em;
    line-height: 1.7em;
  }
  ul{
    padding-left: 2em;
  }
  img{
    max-width: 100%;
    height: auto;
  }
  em{
    font-family: serif;
  }

  // Tablets
  @media(min-width:$screen-sm){

    .sidebar{font-size: 15px;}


  }

  // Large screens
  @media(min-width:$screen-md){

    .sidebar{font-size: 18px;}

  }




.spacer{
  margin-top: 20px;
  @media(min-width:$screen-sm){
    margin-top: 50px;
  }
  @media(min-width:$screen-md){
    margin-top: 100px;
  }
}
.clear {
    clear: both;
}

}
