body{
  overflow-y: scroll; // TODO: remove after content is added
  font-weight: 300;
  .breadcrumbs_and_search{
    border-bottom: 1px solid #ccc;
  }
  .breadcrumbs{
    font-size: 15px;
    line-height: 2.3em;
    overflow: hidden;
    height: 36px;
    span.breadcrumbs-arrows{
      color: $brand-primary;
      font-size: 20px;
    }
  }

  h1, h2, h3, h4{
    margin-top:0;
    font-weight: 300;
  }
  p,ul{
    line-height: 1.7em;
  }
  ul{
    padding-left: 2em;
    margin-bottom: 1.7em;
  }
  img{
    max-width: 100%;
    height: auto;
  }
  em{
    font-family: serif;
  }
  b, strong, label{
    font-weight: 400;
  }
  hr {
    margin-top: 7px;
    margin-bottom: 17px;
    border-top: 1px solid #999;
  }
  // Tablets
  @media(min-width:$screen-sm){

    .sidebar{font-size: 15px;}


  }

  // Large screens
  @media(min-width:$screen-md){

    .sidebar{font-size: 18px;}

  }




  .spacer{
    margin-top: 20px;
    @media(min-width:$screen-sm){
      margin-top: 50px;
    }
    @media(min-width:$screen-md){
      margin-top: 100px;
    }
  }
  .clear {
      clear: both;
  }

  .share-icons{
    padding-bottom: 27px;
    @media (min-width: $screen-md) {
      padding-left: 24px;
    }
    span{
      line-height: 26px;
      font-size: 16px;
      display: block;
      float: left;
      padding-right: 2px;
    }
    .addtoany_list a{
      padding: 0 2px;
    }
    .addtoany_list.a2a_kit_size_32 a > span {
      border-radius: 4px;
      display: inline-block;
      height: 25px;
      line-height: 25px;
      opacity: 1;
      width: 25px;
      background-size: 25px;
      background-position: center;
    }
    a.addtoany_share_save img{
      width: 25px;
      height: 25px;
    }

  }

}
