// Myriad Fonds

@font-face {
font-family: 'Myriad Pro'; font-style: normal; font-weight: 300;
src: local('Myriad Pro Light'), url('../fonts/MyriadPro-Light.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro'; font-style: normal; font-weight: 400;
src: local('Myriad Pro Regular'), url('../fonts/MyriadPro-Regular.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro'; font-style: normal; font-weight: 500;
src: local('Myriad Pro Condensed'), url('../fonts/MyriadPro-Cond.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro'; font-style: normal; font-weight: 600;
src: local('Myriad Pro Semibold'), url('../fonts/MyriadPro-Semibold.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro'; font-style: normal; font-weight: 700;
src: local('Myriad Pro Bold Condensed'), url('../fonts/MyriadPro-BoldCond.woff') format('woff');
}


// Glyphicons font path
$icon-font-path:        "../fonts/";

// Colors
$brand-primary:         #C5392C;
$brand-secondary:       #071259;
$link-color:            $brand-secondary;
$link-hover-color:      $brand-primary;
$headings-color:        $brand-secondary;
$hover-color:           #000;

//Fonts
$font-family-sans-serif:  'Myriad Pro', Helvetica, Arial, sans-serif;
$font-size-base:          15px;
$text-color:              #222;
$headings-font-weight:    400;
$font-size-h1:            floor(($font-size-base * 2)); //30
$font-size-h2:            floor(($font-size-base * 1.7));
$font-size-h3:            ceil(($font-size-base * 1.4));
$font-size-h4:            ceil(($font-size-base * 1.25));

// Grid settings
$main-sm-columns:         12;
$sidebar-sm-columns:      3;
$grid-gutter-width:       48px;
$screen-md:               992px;
$grid-float-breakpoint:   $screen-md+1;

$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;

// Nav

$nav-link-padding:  15px 12px;
$nav-link-hover-bg: transparent;


$component-active-color:    $brand-primary;

//== Modals
//
//##

//** Padding applied to the modal body
$modal-inner-padding:         12px 26px 34px 48px;

//** Padding applied to the modal title
$modal-title-padding:         51px 0 24px 48px;

$modal-md:                    661px;


//** Modal backdrop background color
$modal-backdrop-bg:           #000 !default;
//** Modal backdrop opacity
$modal-backdrop-opacity:      0 !default;
//** Modal header border color
$modal-header-border-color:   #e5e5e5 !default;
//** Modal footer border color
$modal-footer-border-color:   $modal-header-border-color !default;



