footer.content-info{
  background-color: #dddddd;
  color: $brand-secondary;
  padding-bottom:21px;
  font-size: 13px;
  .widget{
    >h3{
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 20px;
      font-weight: 600;
    }
    ul{
      clear: both;
      overflow: hidden;
      padding-left:0;
      li{
        list-style: none;
        width: 50%;
        float: left;
      }
    }
    .textwidget{
      &>div{
        padding: 0;
        span{
          font-weight: 400;
        }
      }
    }
  }


  // Tablets
  @media(min-width:$screen-sm){
    font-size: 15px;
  }

  // Large screens
  @media(min-width:$screen-md){
    font-size: 18px;
  }

}
.copy-info{
  padding-top: 11px;
  padding-bottom: 71px;
  font-size: 12px;
  text-align: center;
  @media(max-width:$screen-sm){
    .all-rights-reserved{
      display: block;
    }
  }
}



