header.banner{
  background-size: cover;
  position: relative;
  transition: background-image 1s ease-in-out;
  background-image: url('../images/default_page_bg.png');
  body.home &{
    background-image: none;
  }
  .phone-facebook{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    position: absolute;
    right:17px;
    top: 8px;
    a{
      color: #061259;
    }
    img{
      padding-left: 13px;
    }
    span {
      margin-top: 0;
      display: block;
      float: left;
    }
  }
  .nav-container{
    background-color: #fff;
    .container{
      padding: 0;
    }
    .navbar{
      border-radius: 0;
      margin-bottom: 0;
      border:medium none;
      .navbar-toggle{
        background-color: $brand-primary;
        &:hover{
          background-color: $hover-color;
        }
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        min-width: 78px;
        padding: 4px 8px 1px;
        margin-right: 15px;
        margin-top: 28px;
        border-radius:2px;
        .toggle-text{
          float:right;
          display: block;
        }
        .icon-bar{
          background-color:#fff;
          width: 15px;
          height: 2px;
          margin-top: 2px;
          &.icon-bar-first{
            margin-top: 3px;
          }
        }

      }
      .navbar-brand {
        float: left;
        margin: 13px 15px;
        padding: 0;
        height: auto;
        img{
          width: 163px;
          height: 42px;
        }
      }

      .navbar-collapse{
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
        .nav{
          .dropdown-toggle .caret { display:none; }
          li.active a, li a:hover, li.current-menu-parent>a, li.current_page_parent>a{
            color: $brand-primary;
            background-color:transparent;
          }
        }
      }


    }
    .dropdown-menu>li>a {
      padding: 8px 20px 4px;
      text-transform: none;
    }
  }
  .parent-page-title{
    padding:102px 0 0;
    h1{
      color: #fff;
      font-size:30px;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0 0 15px 16px;
    }
  }

  // Tablets
  @media(min-width:$screen-sm){
    min-height: 275px;
    @media(max-width:$screen-sm-max){
      .nav-container{
        .container{
          width: 100%;
        }
      }
      .phone-facebook{
        font-size: 14px;
        right:152px;
        top: 33px;
        img{
          padding-left: 16px;
        }
        span {
          margin-top: 2px;
        }
      }
    }
    .nav-container{
      position: absolute;
      top:24px;
      width: 100%;
      .navbar{
        @media (min-width: $screen-sm) {
          body:not(.home) &{
            z-index: 2;
          }
        }
        background-color:#fff;
        .navbar-toggle{
          margin-right: 24px;
          margin-top: 24px;
          font-size: 19px;
          min-width: 105px;
          padding: 8px 13px 3px;
          .icon-bar{
            margin-top: 3px;
            &.icon-bar-first{
              margin-top: 5px;
            }
          }
        }
        .navbar-brand {
          margin: 15px 0 25px 27px;
          img{
            width: 227px;
            height: 58px;
          }
        }
        .navbar-collapse{
          margin-top:24px;

        }
      }
    }
    .parent-page-title{
      padding-top:223px;
      h1{
        font-size:50px;
        margin: 0 0 2px 24px;
      }
    }
  }


  // Large screen
  @media(min-width:$screen-md){
    min-height: 300px;
    body.home &{
      min-height: 660px;
    }
    .phone-facebook{
      font-size: 14px;
      top: 8px;
      img{
        padding-left: 15px;
      }
      span {
        margin-top: 2px;
      }
    }
    .nav-container{
      .navbar{
        .navbar-brand {
          margin:13px 71px 23px 15px;
        }
      }
    }

  }

  @media(min-width:$screen-lg){
    body.home &{
      min-height: 790px;
    }
  }
}

