// Home Page
.page{
  .main{
    padding-bottom: 80px;
    font-weight: 300;

    // Tablets
    @media(min-width:$screen-sm){
        font-size: 18px;
    }





    // Large screens
    @media(min-width:$screen-md){
      font-size: 20px;
    }

  }


  &.home .main{ // Home Page Specific Styles
    color: $brand-secondary;
    line-height: 1.5em;
    font-size: 14px;
    h1{
      font-size: 18px;
      margin:13px 0;
      font-weight: 300;
    }
    img{
      max-width: 100%;
      float:none !important;
      margin: 0 auto 48px;
      display: block;
      height: auto;
    }

    @media(min-width:$screen-sm){
      font-size: 18px;
      line-height: 30px;
      h1{
        margin:50px 0 22px;
        font-size: 35px;
        text-align: center;
      }
      img{

      }
    }

    @media(min-width:$screen-md){
      font-size: 20px;
      line-height:35px;
      h1{
        font-size: 47px;
      }
      img{
        float:left;
      }
    }
  }
}
