.page{
  .content{
    position: relative;
  }
  .page-header{
    padding:0;
    margin:24px 0 0;
    border-bottom: medium none;
  }

  /* Reduce side padding on really small devices  */
  @media (max-width: $screen-xs-max) {
    .container{
      padding-left: 16px;
      padding-right: 16px;
    }
    .row{
      margin-left: -16px;
      margin-right: -16px;
    }
    .main, [class*="col-"]{
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .main{
    padding-bottom: 40px;
    font-weight: 300;
    h1{
      font-size: 20px;
      font-weight: 300;
    }
    h2{
      font-size: 18px;
      font-weight: 300;
    }
    h3{
      font-size: 16px;
      font-weight: 300;
    }

    .more{
      display: table;
    }
    // Tablets
    @media(min-width:$screen-sm){

        padding-left: 24px;
        padding-right: 24px;
        font-size: 18px;

        h1{
          font-size: 30px;
        }
        h2{
          font-size: 25px;
        }
        h3{
          font-size: 20px;
        }
        .more{
          display: inline-block;
        }

    }


    // Large screens
    @media(min-width:$screen-md){
      .content{
        padding-left:24px;
      }
      font-size: 20px;
      h1{
        font-size: 30px;
      }
    }

  }
}
