.page, .archive, .single, .blog, .search{
  .content{
    position: relative;
    padding-top:25px;
  }
  .page-header{
    padding:0;
    margin:0;
    border-bottom: medium none;
  }

  /* Reduce side padding on really small devices  */
  @media (max-width: $screen-xs-max) {
    .container{
      padding-left: 16px;
      padding-right: 16px;
    }
    .row{
      margin-left: -16px;
      margin-right: -16px;
    }
    .main, [class*="col-"]{
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .main{
    padding-bottom: 40px;
    font-weight: 300;
    h1{
      font-size: 20px;
      font-weight: 300;
    }
    h2{
      font-size: 18px;
      font-weight: 300;
    }
    h3{
      font-size: 16px;
      font-weight: 300;
    }

    .more{
      display: table;
    }
    // Tablets
    @media(min-width:$screen-sm){

        padding-left: 24px;
        padding-right: 24px;
        font-size: 18px;

        h1{
          font-size: 30px;
        }
        h2{
          font-size: 25px;
        }
        h3{
          font-size: 20px;
        }
        .more{
          display: inline-block;
        }

    }


    // Large screens
    @media(min-width:$screen-md){
      .content{
        padding-left:24px;
      }
      font-size: 20px;
      h1{
        font-size: 30px;
      }
    }

    @media(min-width:$screen-lg){
      .contact-info-box{
        padding-right: 80px;
      }
    }

  }
}

// Other Tweaks
.blog .page-header{
  display: none;
}

.bussiness_hours{
  border: 1px solid #999;
  border-left: 42px solid $brand-primary;
  padding-top: 15px;
  h1{
    margin-bottom: 0;
  }
  h4{

  }
}

.main .search-form{
  text-align: center;
  margin-bottom: 40px;
  input{
    border:1px solid #eee;
    padding: 5px 10px;
  }
  .search-submit{
    @extend .btn;
    @extend .btn-primary;
    font-size: 100%;
    margin-bottom: 3px;
  }
}
